* 
{
margin: 0px;
padding: 0px;
box-sizing: border-box;
user-select: none;
 font-family: 'Poppins', sans-serif; 
}
:root 
{
 --parentColor: #017bff;
 font-size: 20px;
 --fontWeight: 600;
 --bgElements: whitesmoke;
 --boxShadow: 0px 0px 10px rgba(0, 0, 0, 0.195);
}
body {
height: 100vh;
width: 100%;
position: relative;
background: linear-gradient( to right, #f9e7fe, #dafcfc);
}
nav
{
height: 10%;
width: 100%;
display: flex;
position: fixed;
top: 0%;
border-bottom: 1px solid rgba(0, 0, 0, 0.144);
align-items: center;
justify-content: space-around;   
backdrop-filter: blur(70px); 
z-index: 99;
}
nav .search-box
{
 display: flex;
 align-items: center;
 position: relative;    
}
nav .search-box input
{
height: 1.7rem;
width: 320px;
outline: none;
border-radius: 5px;
padding: 5px;
border: none;
font-size: 0.8rem;
font-weight: var(--fontWeight);
box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.185);
/* border: 2px solid var(--parentColor); */
}
nav h1
{
 font-size: 2.1rem; 
 color: var(--parentColor);  
}
nav ul
{
 display: flex;
 flex-direction: row;
 align-items: center;   
}
nav ul li
{
list-style: none;
padding: 5px 15px;
margin: 8px;
border-radius: 5px;
border: 1px solid var(--parentColor);
cursor: pointer;
}
nav ul li a
{
color: white;
text-decoration: none;
font-size: 0.8rem;
letter-spacing: 1px;
font-weight: 600;
color: var(--parentColor);
}
nav ul li:hover 
{
background-color: var(--parentColor);
transition: .5s all ease;    
}
nav ul li:hover  a 
{
 color: white;
}
.container
{
 height: 90%;
 width: 100%;
 position: absolute;
 top: 10%;
 display: flex;
}
.container .row-container
{
 display: flex;
 flex-direction: column;
 height: 100%;
 width: 25%;
}
.container .row-container .profile
{
 position: relative;
 height: 40%;
 width: 95%;
 background-color: var(--bgElements);
 display: flex;
 flex-direction: column;
margin: 5px;
border-radius: 10px;
padding: 15px;
border-left: 4px solid var(--parentColor);
box-shadow: var(--boxShadow);
}
.profile-head , .info-head , .with-head , .dep-head , .send-head , .recharge-head
{
 height: 15%;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;  
 color: var(--parentColor);
/* border: 1px solid red; */
}
.img-name
{
 height: 45%;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-around;   

}
.img-name img
{
 height: 75px;
 border-radius: 50%;
}
.img-name .name-date
{
 display: flex;
 flex-direction: column;
 justify-content: center;
 /* border: 1px solid red;  */
}
.name-date h5
{
 font-size: 0.7rem;
 margin-top: 2px;
 color: rgba(0, 0, 0, 0.651);
}
.pakage-info
{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;   
  
}
.pakage-info .pakage
{
display: flex;
flex-direction: column;
justify-content: center;
}
.pakage h4{
font-size: 0.9rem;    
}
.pakage h5{ 
text-align: left; 
}
.pakage-info button , .hst-btn button , .bills button
{
padding: 6px 15px;
border: none;
border-radius: 5px;
background: transparent;
border: 1px solid var(--parentColor);
color:  var(--parentColor);
letter-spacing: 1px;  
cursor: pointer;  
}
.hoverBtn:hover
{
color: white;
background-color: var(--parentColor);
transition: .5s all ease;    
}
.row-container .information
{
 height: 35%;
 width: 95%; 
 background-color: var(--bgElements);
 display: flex;
 flex-direction: column;
margin: 5px;
border-radius: 10px;
padding: 15px;
border-left: 4px solid var(--parentColor);
box-shadow: var(--boxShadow);  
}
.information .balance , .ac-type 
{ 
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.hst-btn
{
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}
.bills
{
    height: 20%;
    width: 95%; 
    background-color: var(--bgElements);
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin: 5px;
   border-radius: 10px;
   padding: 15px;
   border-left: 4px solid var(--parentColor);
   box-shadow: var(--boxShadow); 
}
.sec-container
{
width: 40%;
height: 100%;
/* border: 1px solid red;    */
display: flex;
 flex-direction: column;
}
.sec-container .deposit , .sec-container .withdraw 
{
 height: 36%;
 width: 95%; 
 background-color: var(--bgElements);
 display: flex;
 flex-direction: column;
 position: relative;
   margin: 5px;
   border-radius: 10px;
   padding: 15px;
   border-left: 4px solid var(--parentColor);
   box-shadow: var(--boxShadow);    
}
.dep-elm ,.with-elm ,.send-elm
{
 width: 100%;
 height: 60%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;  
 align-items: flex-end; 
 /* border: 1px solid red; */
}
.dep-input input ,.with-input input ,.send input
{
 height: 35px;
 width: 300px;
 outline: none;
 padding: 0px 25px;
 margin-top: 5px;
 font-size: 1rem;
 font-weight: 500;
 border-radius: 5px;
 border: 1px solid var(--parentColor);
}
.dep-elm button , .with-elm button , .send button
{
    
    height: 35px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background: transparent;
    border: 1px solid var(--parentColor);
    color: var(--parentColor);
    letter-spacing: 1px;  
    cursor: pointer;  
    margin-bottom: 0px;
}
.deposit h6 , .withdraw h6 , .send h6
{
margin-top: 17px;
}
.send-input img 
{
height: 25px;
position: absolute;
left: 3%;
top: 53%;
}
.dep-input img
{
height: 25px;
position: absolute;
left: 3%;
top: 55%;
}
.with-input img
{
height: 25px;
position: absolute;
left: 3%;
top: 54%;
}
.send 
{
 height: 30%;
 width: 95%; 
 background-color: var(--bgElements);
 display: flex;
 flex-direction: column;
 position: relative;
   margin: 5px;
   border-radius: 10px;
   padding: 15px;
   border-left: 4px solid var(--parentColor);
   box-shadow: var(--boxShadow);    
}
.thr-container
{
width: 35%;
height: 100%;    
display: flex;
 flex-direction: column;
}
.atm , .bill-recharges
{
 height: 50%;
 width: 95%; 
 background-color: var(--bgElements);
 display: flex;
 flex-direction: column;
   margin: 5px;
   border-radius: 10px;
   padding: 15px;
   border-left: 4px solid var(--parentColor);
   box-shadow: var(--boxShadow);    
}
.atm img
{
 width: 100%;   
}
.payments-anchors
{
    margin-top: 5px;
 display: flex;
 flex-direction: column;   
}
.payments-anchors a
{
 margin-top: 10px;   
text-decoration: none;
color: var(--parentColor);
}

